* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  background-image: url("./hospital.jpg");
  background-size: cover;
  margin-top: 100px; 
}

h1 {
  color: black;
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
}

form {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto; 
}

label {
  display: block;
  margin-bottom: 6px;
}

input[type="text"] {
  width: calc(100% - 20px); 
  padding: 14px;
  margin: 10px 0 20px; 
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
